@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Montserrat", serif;
  margin: 0;
  background-color: #ffffff;
  color: #1f1f1f;
  letter-spacing: 0.03em;
}
h1,
h2 {
  margin: 0;
  font-weight: 800;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}
.header {
  padding: 25px 0;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_logo {
  width: 180px;
}
.header_logo:hover {
  opacity: 0.8;
}
.header_nav a {
  color: #1f1f1f;
  font-size: 18px;
  line-height: 22px;
  opacity: 0.7;
}
.header_nav a:hover {
  opacity: 0.9;
}
.header_nav a.active {
  opacity: 1;
}
.header_list {
  display: flex;
  gap: 30px;
  font-weight: 500;
}
.header_buttons {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  gap: 10px;
}
.header_button_login {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: #1f1f1f;
  width: 100px;
  height: 40px;
  border: 1px solid #1f1f1f;
  outline: 0 solid #1f1f1f;
  border-radius: 20px;
  transition: 0.1s;
}
.header_button_login:hover {
  outline: 2px solid #1f1f1f;
  outline-offset: -2px;
  opacity: 0.8;
}
.header_button_register {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #40b7f2;
  color: #ffffff;
  width: 100px;
  height: 40px;
  border: 2px solid #40b7f2;
  border-radius: 20px;
  transition: 0.2s;
}
.header_button_register:hover {
  opacity: 0.8;
}
