<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Task Priority System</title>
    <link rel="stylesheet" href="/static/styles.css" />
    <link rel="stylesheet" href="/static/welcome.css" />
  </head>
  <body>
    <!-- ХЕДЕР -->
    <header class="header">
      <div class="container">
        <a href="/">
          <img
            class="header_logo"
            src="/static/pictures/logo1.png"
            alt="Logo"
          />
        </a>
        <nav class="header_nav">
          <ul class="header_list">
            <li><a href="/pricing">Pricing</a></li>
            <li><a href="/about">About</a></li>
          </ul>
        </nav>
        <div class="header_buttons">
          <a class="header_button_login" href="/login">Log in</a>
          <a class="header_button_register" href="/register">Sign Up</a>
        </div>
      </div>
    </header>
    <!-- ОСНОВНАЯ ЧАСТЬ -->
    <main class="main">
      <section class="welcome">
        <div class="container">
          <img
            class="welcome-main-image"
            src="/static/pictures/main.jpg"
            alt="Main Image"
          />
          <h4 class="welcome-subtitle">
            Автоматически рассчитываем приоритет задач с учетом сложности,
            сроков и загруженности.
          </h4>
          <p class="welcome-description">
            Система, которая помогает студентам эффективно управлять своими
            учебными задачами, расставляя приоритеты на основе сложности,
            срочности и личных предпочтений.
          </p>
        </div>
      </section>
    </main>
  </body>
</html>
