<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Task Priority System</title>
    {% block styles %} {% endblock %}
  </head>
  <body>
    <header class="header">
      <div class="container">
        <a href="/">
          <img
            class="header_logo"
            src="/static/pictures/logo1.png"
            alt="Logo"
          />
        </a>
        <nav class="header_nav">
          <ul class="header_list">
            <li><a href="/pricing">Pricing</a></li>
            <li><a href="/about">About</a></li>
          </ul>
        </nav>
        <div class="header_buttons">
          <a class="header_button_login" href="/login">Log in</a>
          <a class="header_button_register" href="/register">Sign Up</a>
        </div>
      </div>
    </header>
    {% block content %} {% endblock %}
  </body>
</html>
